<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.companyProfile">System Settings</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Company Info</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Basic Information</h4>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="nameAr">Company Name Ar<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.nameAr" class="form-control" type="text" name="nameAr" id="nameAr">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="tel1">Telephone 1<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.tel1" class="form-control" type="text" name="tel1" id="tel1">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="fax2">Fax 2</label>
                                        <input [(ngModel)]="company.fax2" class="form-control" type="text" name="fax2" id="fax2">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="addressAr">Address Ar<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.addressAr" class="form-control" type="text" name="addressAr" id="addressAr">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="website">Web Site</label>
                                        <input [(ngModel)]="company.website" class="form-control" type="text" name="website" id="website">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="incomeTax">Income Tax (%)<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.incomeTax" class="form-control" type="number" name="incomeTax" id="incomeTax">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="location">Location</label>
                                        <input [(ngModel)]="company.location" class="form-control" type="text" name="location" id="location">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="insta">Instagram</label>
                                        <input [(ngModel)]="company.insta" class="form-control" type="text" name="insta" id="insta">
                                    </div>
                                </div> 

                                <div class="col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="nameEn">Company Name En<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.nameEn" class="form-control" type="text" name="nameEn" id="nameEn">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="tel2">Telephone 2</label>
                                        <input [(ngModel)]="company.tel2" class="form-control" type="text" name="tel2" id="tel2">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="phone1">Phone 1<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.phone1" class="form-control" type="text" name="phone1" id="phone1">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="addressEn">Address En<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.addressEn" class="form-control" type="text" name="addressEn" id="addressEn">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="licenseNo">License ID No<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.licenseNo" class="form-control" type="text" name="licenseNo" id="licenseNo">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="contactusInfo">Contact Info</label>
                                        <input [(ngModel)]="company.contactusInfo" class="form-control" type="text" name="contactusInfo" id="contactusInfo">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="youtube">Youtube</label>
                                        <input [(ngModel)]="company.youtube" class="form-control" type="text" name="youtube" id="youtube">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="boradcast">Boradcast</label>
                                        <input [(ngModel)]="company.boradcast" class="form-control" type="text" name="boradcast" id="boradcast">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="nameHe">Company Name He</label>
                                        <input [(ngModel)]="company.nameHe" class="form-control" type="text" name="nameHe" id="nameHe">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="fax1">Fax 1<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.fax1" class="form-control" type="text" name="fax1" id="fax1">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="phone2">Phone 2</label>
                                        <input [(ngModel)]="company.phone2" class="form-control" type="text" name="phone2" id="phone2">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="workingTime">Working Time<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.workingTime" class="form-control" type="number" name="workingTime" id="workingTime">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="email">Email<span class="login-danger">*</span></label>
                                        <input required [(ngModel)]="company.email" class="form-control" type="text" name="email" id="email">
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="currency">Currency<span class="login-danger">*</span></label>
                                        <mat-select require name="currency" id="currency" [(ngModel)]="company.currencyId" class="form-control select"
                                            placeholder="Select Currency">
                                            <mat-option *ngFor="let currency of lookupsLists['Currency']" [value]="currency.id">
                                                {{currency.name}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="form-group local-forms">
                                        <label for="facebookLink">Facebook Link</label>
                                        <input [(ngModel)]="company.fb" class="form-control" type="text" name="facebookLink" id="facebookLink">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button (click)="onSave(form)" type="button"
                                            class="btn btn-primary submit-form me-2">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>