<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.lookups">App </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Lookups</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Categories</h4>
                    </div>
                    <div class="doctor-search-blk">
                        <div class="top-nav-search table-search-blk">
                                <input class="form-control" placeholder="Search here" [(ngModel)]="categoriesSearchText">
                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                        </div>
                        <div class="add-group">
                            <a href="javascript:;" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                            <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="list-box pt-2">
                        <div *ngFor="let category of categories | filterPipe:categoriesSearchText:categoriesFilterKeys" class="list-item d-flex" [class.active]="selectedCategory && selectedCategory.id == category.id">
                            <span (click)="selectCategory(category)" class="cursor-pointer flex-grow-1">{{category.code}}</span>
                            <a class="btn"><img src="assets/img/icons/edit.svg" alt="img" class="img-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="col">
                    <div class="row-xl-4 card p-3">
                        <div class="doctor-search-blk">
                            <div class="top-nav-search table-search-blk">
                                    <input class="form-control" placeholder="Search here" [(ngModel)]="lookupsSearchText">
                                    <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                            </div>
                            <div class="add-group flex-grow-1">
                                <a href="javascript:;" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                                <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                            </div>
                            <div>
                                <mat-radio-group [(ngModel)]="isActive">
                                    <mat-radio-button [value]="true">Active</mat-radio-button>
                                    <mat-radio-button [value]="false">In Active</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row-xl-8 card px-3">
                        <div class="card-header">
                            <h4 class="card-title">Lookups - {{selectedCategory?.code}} </h4>
                        </div>
                        <!-- /Table Header -->
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th [mat-sort-header]="col.key" *ngFor="let col of displayedColumns">{{col.name}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lookup of categoryLookups | filterPipe:lookupsSearchText:lookupsFilterKeys">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td>{{lookup.categoryName}}</td>
                                        <td>{{lookup.enName}}</td>
                                        <td>{{lookup.arName}}</td>
                                        <td>{{lookup.code}}</td>
                                    </tr>
                                    <tr class="mat-row" *ngIf="!categoryLookups.length">
                                        <td class="mat-cell" [colSpan]="5">
                                            <span class="empty-table-message">Please be sure you select category that has a code value</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
        
    </div>
</div>